:root {
	--diff-green: #181;
	--diff-red: #e02;
	--links: #00c;
	--border: #d2d2d2;
	--gray: #777;
	--hover-bg: #eee;
}

body {
	color: #000;
	background-color: #fff;
	font-family: sans-serif;
	max-width: 800px;
	margin: 8px auto;
	padding: 5px;
	line-height: 1.5;
}

#branches,
#tags,
#index,
#log,
#files {
	font-family: monospace;
}

#head, #content, .table-container {
	max-width: 800px;
	overflow-x: auto;
	margin: auto;
}

#log, #index {
	min-width: 600px;
	width: 100%;
	overflow-x: auto;
}

pre:not(#about) {
	overflow-x: auto;
	border: 1px solid var(--border);
	border-radius: 4px;
	padding: 10px;
}

a {
	color: var(--links);
}

#head table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#head table td:first-child {
	padding: 0 0.4em 0 0;
}

#head table td:last-child {
	padding: 0 0 0 0.4em;
}

#head p {
	margin: 0;
}

#files .dir {
	font-weight: bold;
	text-decoration: none;
}

.url {
	font-family: monospace;
}

#home h1 {
	font-size: 1.5em;
	text-align: center;
	margin-top: 1em;
}

#home h2 {
	font-size: 1.25em;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

.md h1 {
	font-size: 1.5em;
}

.md h2 {
	font-size: 1.25em;
}

img, h1, h2 {
	vertical-align: middle;
}

img {
	border: 0;
}

a:target {
	background-color: #ccc;
}

a.d,
a.h,
a.i,
a.line {
	text-decoration: none;
}

#blob a {
	color: var(--gray);
}

#blob a:hover {
	color: blue;
	text-decoration: none;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#content table td {
	vertical-align: top;
	white-space: nowrap;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
	background-color: var(--hover-bg);
}

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

.desc {
	color: var(--gray);
}

hr {
	border: 0;
	border-top: 1px solid var(--gray);
	height: 1px;
}

pre {
	font-family: monospace;
}

.A,
span.i,
pre a.i {
	color: var(--diff-green);
}

.D,
span.d,
pre a.d {
	color: var(--diff-red);
}

pre a.h:hover,
pre a.i:hover,
pre a.d:hover {
	text-decoration: none;
}

.md table {
	border-collapse: collapse;
	margin: 1em 1em;
	border: 1px solid var(--border);
}
.md table td,
.md table th {
	padding: 0.25em 1em;
	border: 1px solid var(--border);
}
